<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{$ctrl.id}}_field">{{::$ctrl.label | translate}}
        <span class="required" ng-show="$ctrl.required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div >
            <textarea ui-codemirror="$ctrl.editorOptions" form-maxlength="{{$ctrl.maxlength}}" placeholder="{{$ctrl.label | translate}}" id="{{$ctrl.id}}_field" name="{{$ctrl.id}}" ng-model="$ctrl.val" ng-readonly="$ctrl.isRead()"></textarea>
        </div>
        <span class="help-inline" ng-if="$root.error.hasError($ctrl.id)">{{$root.error.label($ctrl.id) | underscore | translate:$root.error.variables($ctrl.id)}}</span>
    </div>
</div>