<div class="modal" id="modal-{{$ctrl.id}}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{$ctrl.title | translate}}</h4>
            </div>
            <div class="modal-body">
                <p>{{$ctrl.label | translate}}</p>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

